<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.business.mapper.CommentReplyRelationMapper">

    <insert id="insert">
        insert into comment_reply_relation(comment_id,reply_id)
        values (#{commentId},#{replyId})
    </insert>

    <!--    <select id="selectCommentsByPaperId" parameterType="java.lang.Long" resultType="com.ai.website.business.entity.Comment">-->
    <!--        select-->
    <!--        c.*-->
    <!--        from paper_comment_relation pcr-->
    <!--        LEFT JOIN comment c on pcr.comment_id=c.id-->
    <!--        left JOIN paper p on p.id=pcr.paper_id-->
    <!--        where pcr.paper_id=#{paperId}-->
    <!--    </select>-->

    <select id="selectReplysByCommentId" parameterType="java.lang.Long"
            resultType="com.ai.website.business.entity.Reply">
        select r.*
        from comment_reply_relation crr
        LEFT JOIN comment c on crr.comment_id=c.id
        LEFT JOIN reply r on r.id=crr.reply_id
        where c.id=#{commentId}
        order by r.id
    </select>
</mapper>