<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.business.mapper.MemberPaperRelationMapper">

    <insert id="insert">
        insert into member_paper_relation(username,paper_id)
        values (#{username},#{paperId})
    </insert>

    <!--    <select id="selectCommentsByPaperId" parameterType="java.lang.Long" resultType="com.ai.website.business.entity.Comment">-->
    <!--        select-->
    <!--        c.*-->
    <!--        from paper_comment_relation pcr-->
    <!--        LEFT JOIN comment c on pcr.comment_id=c.id-->
    <!--        left JOIN paper p on p.id=pcr.paper_id-->
    <!--        where pcr.paper_id=#{paperId}-->
    <!--    </select>-->

    <select id="selectArticleList" parameterType="java.lang.String" resultType="com.ai.website.business.entity.Paper">
        select p.id,p.author,p.type,p.title,p.tags,p.create_time
        from member_paper_relation mpr
        LEFT JOIN member um on mpr.username=um.username
        LEFT JOIN paper p on mpr.paper_id=p.id
        where p.type like #{type} and mpr.username = #{username}
    </select>

    <select id="selectArticleNum" resultType="java.lang.Integer">
        select count(*)
        from member_paper_relation mpr
        LEFT JOIN member um on mpr.username=um.username
        LEFT JOIN paper p on mpr.paper_id=p.id
        where p.type like #{type} and mpr.username = #{username}
    </select>

    <delete id="deleteByPaperId" parameterType="java.lang.Long">
        delete from member_paper_relation
        where paper_id=#{paperId}
    </delete>
</mapper>