<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.member.dao.MemberMapper">

    <insert id="insert" parameterType="com.ai.website.member.entity.UmsMember">
        insert into member(username,password,status,create_time)
        values (#{username},#{password},#{status},#{createTime})
    </insert>

    <select id="findByUserName" parameterType="java.lang.String" resultType="com.ai.website.member.entity.UmsMember">
        select * from member
        where username = #{username}
    </select>

    <update id="updateHeadImage" parameterType="java.lang.String">
        update member set image_url =#{imageUrl}
        where username=#{username}
    </update>

    <update id="updatePersonInfo" parameterType="com.ai.website.member.dto.MemberInfoDto">
        update member
        set nickname=#{nickname},name=#{name},gender=#{gender},
        profile=#{profile},education=#{education},major=#{major},
        school=#{school},industry=#{industry},company=#{company},position=#{position}
        where username=#{username}
    </update>

    <insert id="insertLoginLog" parameterType="com.ai.website.member.entity.MemberLoginLog">
        insert into member_login_log(username,login_time)
        values (#{username},#{loginTime})
    </insert>
</mapper>