<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.business.mapper.PaperMapper">
    <resultMap id="BaseResultMap" type="com.ai.website.business.entity.Paper">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
        <result column="like_num" jdbcType="INTEGER" property="likeNum"/>
        <result column="read_num" jdbcType="INTEGER" property="readNum"/>
        <result column="store_num" jdbcType="INTEGER" property="storeNum"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="top" jdbcType="VARCHAR" property="top"/>
    </resultMap>
    <insert id="insert" parameterType="com.ai.website.business.entity.Paper" useGeneratedKeys="true" keyProperty="id">
        insert into paper(author,type,title,tags,content,create_time,like_num,read_num,store_num)
        values
        (#{author,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{tags,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR},#{likeNum,jdbcType=INTEGER},#{readNum,jdbcType=INTEGER},#{storeNum,jdbcType=INTEGER})
    </insert>

    <select id="selectByList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,author,type,title,tags,read_num, create_time,top
        from paper
        where title like #{keyword}
        ORDER BY create_time DESC
    </select>

    <select id="selectAll"  resultMap="BaseResultMap">
        select id,author,type,title,tags,read_num, create_time,top
        from paper
        ORDER BY create_time DESC
    </select>

    <select id="selectAllById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from paper where id=#{paperId}
    </select>

    <update id="updateReadNum" parameterType="java.lang.Long">
        update paper set
        read_num=read_num+1
        where id=#{paperId}
    </update>

    <update id="addLikeNum" parameterType="java.lang.Long">
        update paper
        set like_num=like_num+1
        where id=#{paperId}
    </update>

    <delete id="deleteArticle" parameterType="java.lang.Long">
        delete from paper
        where id=#{paperId}
    </delete>
</mapper>