<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.business.mapper.ReplyMapper">
    <insert id="insert" parameterType="com.ai.website.business.entity.Reply" useGeneratedKeys="true" keyProperty="id">
        insert into
        reply(critic_name,content,reply_to_username,create_time)
        values
        (#{criticName},#{content},#{replyToUserName},#{createTime})
    </insert>

    <update id="addLikeNum" parameterType="java.lang.Long">
        update reply
        set like_num=like_num+1
        where id=#{replyId}
    </update>

    <update id="addUnLikeNum" parameterType="java.lang.Long">
        update reply
        set unlike_num=unlike_num+1
        where id=#{replyId}
    </update>
</mapper>