<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.website.business.mapper.SampleTargetMapper">
    <select id="selectImageUrl" resultType="java.util.Map">
        select st.image_url
        from sample_target st
        where name=#{name}
        order by id
        limit 4
    </select>

    <select id="selectAllList" parameterType="java.lang.String"
            resultType="com.ai.website.business.entity.SampleTarget">
        select image_url from sample_target
        where name=#{name}
        order by id
    </select>

    <select id="selectIdsByName"  parameterType="java.lang.String" resultType="java.util.Map">
        select id from sample_target
        where name=#{name}
        order by id
    </select>

    <select id="selectImageById" parameterType="java.lang.Long" resultType="java.lang.String">
        select image_url from sample_target
        where id=#{id}
        order by id
    </select>
</mapper>